@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4D86DE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 10px;
    font-size: 12px;
    background-color: #4D86DE;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #357BD8;
}

#result {
    margin-top: 20px;
    font-size: 14px;
}
